In [136]:
import pandas as pd
import numpy as np
import regex as re
import json
from sklearn.model_selection import train_test_split

In [140]:
f = open('all_Bar.json')
data_bar = json.load(f)
f.close()
f = open('all_Line.json')
data_line = json.load(f)
f.close()
f = open('all_scatter.json')
data_scatter = json.load(f)
f.close()
f1 = open('all_bar_text1.json')
summaries_bar1 = json.load(f1)
f1.close()
f1 = open('all_bar_text2.json')
summaries_bar2 = json.load(f1)
f1.close()
f1 = open('all_bar_text3.json')
summaries_bar3 = json.load(f1)
f1.close()
f1 = open('all_line_text1.json')
summaries_line1 = json.load(f1)
f1.close()
f1 = open('all_line_text2.json')
summaries_line2 = json.load(f1)
f1.close()
f1 = open('all_line_text3.json')
summaries_line3 = json.load(f1)
f1.close()
f1 = open('all_scatter_text1.json')
summaries_scatter1 = json.load(f1)
f1.close()
f1 = open('all_scatter_text2.json')
summaries_scatter2 = json.load(f1)
f1.close()
f1 = open('all_scatter_text3.json')
summaries_scatter3 = json.load(f1)
f1.close()

In [190]:
def single_column(data, summaries):
    image_index = list()
    titles = list()
    x_values = list()
    y_values = list()
    x_labels = list()
    y_labels = list()
    summary = list()
    chart_type = list()
    input_formated_list = list()
    for i in data_bar:
        if i.__contains__('x'):
            image_index.append(i['image_index'])
            
            titles.append(i['title']['text'])
            title = i['title']['text']
            
            x_labels.append(i['x_axis']['label']['text'])
            y_labels.append(i['y_axis']['label']['text'])
            
            x_label = i['x_axis']['label']['text']
            y_label = i['y_axis']['label']['text']
            
            x_values.append(i['x'])
            y_values.append(i['y'])

            x_value = i['x']
            y_value = i['y']
            
            summary.append(summaries[i['image_index']]['text'])
            chart_type.append(i['type'])
            chart = i['type']
            t = list(zip(x_value,y_value))
            res = [' '.join(map(str,tups)) for tups in t]
            input_format = title + '\n ' + chart + ' ' + ' x-y labels ' + x_label + ' - '+ y_label + ', x-y values ' + ' , '.join(res)
            input_formated_list.append(input_format)
    
    df_formated = pd.DataFrame(list(zip(input_formated_list,summary)), columns = ["Data", "Summaries"])
    df_all_single_column = pd.DataFrame(list(zip(image_index,chart_type,titles,x_labels,y_labels,x_values,y_values,summary)), columns = ['index','chart_type','titles', 'x_label','y_label','x_values','y_values','summary'])
    
    return df_formated, df_all_single_column

In [191]:
def multi_column(data, summaries):
    image_index = list()
    titles = list()
    
    x_values = list()
    y1_values = list()
    y2_values = list()
    
    x_labels = list()
    y_labels = list()
    
    y1_labels = list()
    y2_labels = list()
    
    summary = list()
    chart_type = list()
    
    
    input_formated_list = list()
    count = 0
    for i in data_bar:
        if i.__contains__('model1'):
            image_index.append(i['image_index'])
            
            titles.append(i['title']['text'])
            title = i['title']['text']
            
            x_labels.append(i['x_axis']['label']['text'])
            y_labels.append(i['y_axis']['label']['text'])
            y1_labels.append(i['legend']['items'][0]['model'])
            y2_labels.append(i['legend']['items'][1]['model'])
            
            y1_label = i['legend']['items'][0]['label']['text']
            y2_label = i['legend']['items'][1]['label']['text']
            
            x_label = i['x_axis']['label']['text']
            y_label = i['y_axis']['label']['text']
            
            
            x_values.append(i['model1']['x'])
            y1_values.append(i['model1']['y'])
            y2_values.append(i['model2']['y'])

            x_value = i['model1']['x']
            y1_value = i['model1']['y']
            y2_value = i['model2']['y']
            
            summary.append(summaries[i['image_index']]['text'])
            chart_type.append(i['type'])
            chart = i['type']
        
            t = list(zip(x_value,y1_value,y2_value))
            res = [' '.join(map(str,tups)) for tups in t]
            input_format = title + '\n ' + chart + ' ' + x_label + '-' + y_label + '(' + y1_label + ',' + y2_label + ')' + ' x-y1-y2 values ' + ' , '.join(res) 
            input_formated_list.append(input_format)
        
    df_formated = pd.DataFrame(list(zip(input_formated_list,summary)), columns = ["Data", "Summaries"])
    df_all_single_column = pd.DataFrame(list(zip(image_index,chart_type,titles,x_labels,y_labels,y1_labels,y2_labels,x_values,y1_values,y2_values,summary)),
                                        columns = ['index','chart_type','titles', 'x_label','y_label','legend_1','legend_2','x_values','legend_1_values','legend_2_values','summary'])
    
    return df_formated, df_all_single_column

In [192]:
df_formated_bar_single, df_all_single_bar = single_column(data_bar,summaries_bar1)
df_formated_line_single, df_all_single_line = single_column(data_line,summaries_line1)
df_formated_scatter_single, df_all_single_scatter = single_column(data_scatter,summaries_scatter1)
df_formated_bar_multi, df_all_multi_bar = multi_column(data_bar,summaries_bar1)
df_formated_line_multi, df_all_multi_line = multi_column(data_line,summaries_line1)
df_formated_scatter_multi, df_all_multi_scatter = multi_column(data_scatter,summaries_scatter1)

df_formated_all_bar = pd.concat([df_formated_bar_single,df_formated_bar_multi])
df_formated_all_line = pd.concat([df_formated_line_single,df_formated_line_multi])
df_formated_all_scatter = pd.concat([df_formated_scatter_single,df_formated_scatter_multi])


df_all1 = pd.concat([df_formated_all_bar,df_formated_all_line,df_formated_all_scatter])
df_all1

,Data,Summaries
0,Percentage of part-time workers in Luxembourg\...,The bar graph illustrates the number of percen...
1,Total debt of Jamaica\n bar_chart x-y labels ...,The bar graph illustrates the number of total ...
2,Arable land in different countries as per the ...,This barchart shows the number of arable land ...
3,Percentage of households with a female as a he...,This bar plot is about the number of percentag...
4,Percentage of people living with HIV who are r...,This bar graph shows the number of percentage ...
...,...,...
1284,House ownership in Turkey and France\n bar_cha...,This scatter graph shows the number of house o...
1285,House ownership in India and Singapore\n bar_c...,The scatter graph illustrates the number of ho...
1286,House ownership in India and Canada\n bar_char...,The scatter plot shows the number of house own...
1287,House ownership in Sweden and Australia\n bar_...,The scatter graph displays the number of house...
1288,House ownership in Cuba and Germany\n bar_char...,This scatter graph shows the number of house o...

In [195]:
df_formated_bar_single, df_all_single_bar = single_column(data_bar,summaries_bar2)
df_formated_line_single, df_all_single_line = single_column(data_line,summaries_line2)
df_formated_scatter_single, df_all_single_scatter = single_column(data_scatter,summaries_scatter2)
df_formated_bar_multi, df_all_multi_bar = multi_column(data_bar,summaries_bar2)
df_formated_line_multi, df_all_multi_line = multi_column(data_line,summaries_line2)
df_formated_scatter_multi, df_all_multi_scatter = multi_column(data_scatter,summaries_scatter2)

df_formated_all_bar = pd.concat([df_formated_bar_single,df_formated_bar_multi])
df_formated_all_line = pd.concat([df_formated_line_single,df_formated_line_multi])
df_formated_all_scatter = pd.concat([df_formated_scatter_single,df_formated_scatter_multi])

df_all2 = pd.concat([df_formated_all_bar,df_formated_all_line,df_formated_all_scatter])

In [196]:
df_formated_bar_single, df_all_single_bar = single_column(data_bar,summaries_bar3)
df_formated_line_single, df_all_single_line = single_column(data_line,summaries_line3)
df_formated_scatter_single, df_all_single_scatter = single_column(data_scatter,summaries_scatter3)
df_formated_bar_multi, df_all_multi_bar = multi_column(data_bar,summaries_bar3)
df_formated_line_multi, df_all_multi_line = multi_column(data_line,summaries_line3)
df_formated_scatter_multi, df_all_multi_scatter = multi_column(data_scatter,summaries_scatter3)

df_formated_all_bar = pd.concat([df_formated_bar_single,df_formated_bar_multi])
df_formated_all_line = pd.concat([df_formated_line_single,df_formated_line_multi])
df_formated_all_scatter = pd.concat([df_formated_scatter_single,df_formated_scatter_multi])

df_all3 = pd.concat([df_formated_all_bar,df_formated_all_line,df_formated_all_scatter])

In [218]:
df_all = pd.concat([df_all1, df_all2, df_all3])

In [219]:
df_all = df_all.reset_index(drop=True)
df_all

,Data,Summaries
0,Percentage of part-time workers in Luxembourg\...,The bar graph illustrates the number of percen...
1,Total debt of Jamaica\n bar_chart x-y labels ...,The bar graph illustrates the number of total ...
2,Arable land in different countries as per the ...,This barchart shows the number of arable land ...
3,Percentage of households with a female as a he...,This bar plot is about the number of percentag...
4,Percentage of people living with HIV who are r...,This bar graph shows the number of percentage ...
...,...,...
25924,House ownership in Turkey and France\n bar_cha...,The scatter chart illustrates the number of ho...
25925,House ownership in India and Singapore\n bar_c...,The scatter chart illustrates the number of ho...
25926,House ownership in India and Canada\n bar_char...,The scatter graph illustrates the number of ho...
25927,House ownership in Sweden and Australia\n bar_...,The scatter graph illustrates the number of ho...
25928,House ownership in Cuba and Germany\n bar_char...,The scatter graph displays the number of house...

In [220]:
train_ratio = 0.90
validation_ratio = 0.05
test_ratio = 0.05

In [221]:
train, test = train_test_split(df_all, test_size=1 - train_ratio)
val, test = train_test_split(test, test_size=test_ratio/(test_ratio + validation_ratio))

In [222]:
print(len(train))
print(len(test))
print(len(val))

23336
1297
1296

In [227]:
train.to_csv('train_autochart.csv', sep='\t', index=False)
val.to_csv('val_autochart.csv', sep='\t', index=False)
test.to_csv('test_autochart.csv', sep='\t', index=False)

'This barchart shows the number of percentage of deliveries attended by skilled health staff in czech republic from 2007 through 2010. Each bar represents the number in the unit of Births attended by skilled health staff (% of total births). It is clear that the number remain steady. The peak of the number is recorded in 2007 and the lowest number is found in 2007. Changes in the number may be related to the national policies of the country '